RewriteEngine On

RewriteCond %{REQUEST_URI} ^/includes/ [NC]
RewriteRule ^ - [L]

RewriteCond %{THE_REQUEST} ^[A-Z]+\ /public/ [NC]
RewriteRule ^ - [F,L]

RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_URI} !/public/
RewriteCond %{REQUEST_URI} \.php$
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI}.php -f
RewriteRule ^(.+)$ public/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
RewriteRule ^(.+)$ public/$1 [L]

# If no file found, show 404 page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ public/404.php [L]